---
db_connection_string: ${db_connection_string}
directus_key: ${directus_key}
directus_secret: ${directus_secret}
wasabi_access_key: ${wasabi_access_key}
wasabi_secret_key = ${wasabi_secret_key}
wasabi_bucket = ${wasabi_bucket}
directus_admin_pw: ${directus_admin_pw}
directus_admin_mail: ${directus_admin_mail}
smtp_password: ${smtp_password}
