---

directus_key: ${directus_key}
directus_secret: ${directus_secret}
storage_account_key: ${storage_account_key}
directus_admin_pw: ${directus_admin_pw}
directus_admin_mail: ${directus_admin_mail}
smtp_password: ${smtp_password}
